table{
    border-collapse: collapse;
}
td,th{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
tr td:first-child {
    font-size: 30px;
}

@media (max-width: 768px) {
  td, th {
    padding: 3px;
    font-size: 12px;
  }
  tr td:first-child {
    font-size: 16px;
  }
  .sidebar table {
    width: 100%;
  }
}
